{% extends "base.html" %}

{% block content %}

    {% if name %}
        <div class="container mt-3">
            <h2 class="text-center mb-3">Current Users</h2>            
            <table class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Favorite Color</th>
                    <th>Delete User</th>
                    </tr>
                </thead>
                <tbody>
                    {% for our_user in our_users%}
                        <tr>
                        <td>{{our_user.id}}</td>
                        <td><a href="{{ url_for('update_id', id=our_user.id) }}">{{our_user.name}}</a></td>
                        <td>{{our_user.email}}</td>
                        <td>{{our_user.favorite_color}}</td>
                        <td><a href="{{ url_for('delete', id=our_user.id) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <h1>User List:</h1>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form method="post" action="">
                <div class="container">
                    {{ form.hidden_tag() }}
    
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
    
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}

                    {{ form.favorite_color.label(class="form-label") }}
                    {{ form.favorite_color(class="form-control") }}
    
                    {{ form.submit(class="btn btn-secondary mt-2") }}
                </div>
            </form>
        </div>
        <br><br>

    
    <div class="container mt-3">
        <h2 class="text-center mb-3">Current Users</h2>            
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Favorite Color</th>
                <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
        {% for our_user in our_users%}
                <tr>
                <td>{{our_user.id}}</td>
                <td><a href="{{ url_for('update_id', id=our_user.id) }}">{{our_user.name}}</a></td>
                <td>{{our_user.email}}</td>
                <td>{{our_user.favorite_color}}</td>
                <td><a href="{{ url_for('delete', id=our_user.id) }}">Delete</a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    
    
    {% endif %}

{% endblock content %}